@import "utilities.css";

:root {
    --primary: #3dcfd3;
    --dark: #161616;
    --ternary: #898989;
    --pure: #ffffff;
    --light: #f2f2f2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-element a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
.nav-element a:hover {
    color: var(--primary);
}
header nav {
    padding: 2rem 0;
}
nav .logo {
    margin-right: 3rem;
}

/* ************* Hero section ************* */
.hero img {
    width: 200px;
}

.hero .right {
    color: var(--pure);
}
.hero .right h6 {
    color: var(--primary);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero .right h1 span {
    color: var(--primary);
}
.hero .right p {
    margin-bottom: 2rem;
}

.hero {
    padding: 3rem;
}
.hero .right button {
    margin-bottom: 5rem;
}