@import "utilities.css";

:root {
    --primary: #3dcfd3;
    --dark: #161616;
    --ternary: #898989;
    --pure: #ffffff;
    --light: #f2f2f2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 85%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-element a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
.nav-element a:hover {
    color: var(--primary);
}
header nav {
    padding: 2rem 0;
}
nav .logo {
    margin-right: 3rem;
    
}
.logo h2{
    text-align: center;
}

/* ************* Hero section ************* */
.hero img {
    width: 200px;
}

.hero .right {
    color: var(--pure);
}
.hero .right h6 {
    color: var(--primary);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero .right h1 span {
    color: var(--primary);
}
.hero .right p {
    margin-bottom: 2rem;
}

.hero {
    padding: 3rem;
}
.hero .right button {
    margin-bottom: 5rem;
}

section {
    padding: 6rem 12rem;
    
}

.section-left img {
    height: 450px;
} 

.section-right h1 span {
    color: var(--primary);
}

.section-right h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;

}

.section-right h3 {
    font-size: 1.2rem;
    font-weight: 500;
}
.section-right p {
    line-height: 1.8;
    color: var(--ternary);
    margin-bottom: 2rem;

}

.social-link {
    display: flex;
}
.social-link a{
    display: flex;
    justify-content:center;
    align-items: center;
    transition: all .3s ease;
    margin-right: 1.2rem;
}



.social-link img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* **************services section ************ */

.section-heading {
    color: var(--dark);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
}
.section-heading + p {
    color: var(--ternary);
    text-align: center;
    margin-bottom: 6rem;
}

.section-heading span {
    color: var(--primary);
}

.services {
    background: var(--light);
}

.services .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
   
}

.services .card-wrapper .card {

    background: var(--pure);
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all 0.4s ease;
}

.services .card-wrapper .card img {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.services .card-wrapper .card h2 { 
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}
.services .card-wrapper .card p {
    color: var(--ternary);
    line-height: 1.6;
}

.services .card-wrapper .card:hover {
    background: var(--dark);
}
.services .card-wrapper .card:hover h2, .services .card-wrapper .card:hover p {
    color: var(--pure);
}
section.freelancer {
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/camera.png");
    color: var(--light);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 75%, 0 100%);
    margin-bottom: 3rem;
}
section.freelancer h2 {
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    font-weight: 400;
}
section.freelancer p {
    margin-bottom: 1rem;
}